{% load blog_tags %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static "css/blog.css" %}" rel="stylesheet">
</head>
<body>
    <div id="sidebar">
        <h1>Moj blog.</h1><br>
        <p>To jest moj blog. Dotychczas opublikowałem {% total_posts %} postów.</p>
{% show_latest_posts 3 %}
        <h3>Najczęściej komentowane posty</h3>
    {% get_most_commented_posts as most_commented_posts %}
    <ul>
    {% for post in most_commented_posts %}
      <li>
        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
    </ul>
    </div>
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>

</body>
</html>
